
.gitignore
.idea
.gradle
.gradle/
build
local.properties
.idea/
*.iml
*.ipr
*.iws
build/
gradlew
*.jks
#    *.keystore
*.keystore
#    *.pem
*.pem
*.aab
*.ab_
*.apk
*.zip
#    # Profiler & Heap Dump
    *.hprof
    *.snapshot
    captures/
    *.jfr
#
    # Lint
    lint/reports/
    lint-results-*.xml
    lint-results-*.html
#
crashlytics-build.properties

    .DS_Store
    Thumbs.db
    Desktop.ini